body {

    font-family: Arial, Helvetica, sans-serif;
    
    background: rgb(50,20,151);
   
    color: white;
}


ol, ul {
	list-style: none;
}


.username{
    margin-left: 35px ;
}


.container {
    
    border: 1px solid black;
    padding: 30px;
    border-radius: 15px;
}

.content {
    
    width: 450px;
    margin: 0px auto;
    padding: 50px 0px;
    border-radius: 15px;
    
}
#cancel{

    text-align: center;
}


.afspraak-button{
    font-size: 12px;
    text-decoration: none;
    background-color: gold;
    border: 5px;
    padding: 10px;
    
    border-radius: 5px;
    }

.flexbox {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}


form {
    margin-top: 20px;
}

input {
    padding: 10px 20px;
    float: none;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
    border: 1px solid grey;
    
}

.radio-toolbar input[type="radio"] {
    display: none;
  }
  
.radio-toolbar label {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 25px;
    margin: 5px;
}
  
.radio-toolbar input[type="radio"]:checked+label {
    background-color:#007fff;
    border-color: #007fff;
    font-weight: normal;
    color: #ffffff;
}

.logo{
    
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    overflow: hidden;
    position: absolute;
    width: 250px;
    margin: 20px;
}

#logo{
    width: 60%;
    margin-left: 90px;

    
}
#header_logo{
    position: absolute;
    right: 85%;
    
    height: 50px;;
    width: auto;
    max-width: 250px;
    display : flex;
}
.header {
    position: relative;
    top: -20px;
}

.nav {
    padding: 10px 10px;
    height: 40px;
    position: relative;
    
}

.radio-behandeling{
    width: 350px;
    text-align: center;
}

.is-input {
    width: 85%;
    padding: 15px 20px;
}

.submit {
    
    height: 50px;
    text-transform: uppercase;

    border-radius: 25px;
    cursor: pointer;
}

  .align-left {
    align-content: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.align-right {
    align-content: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.is-column{
    flex-flow: column;
}


.open{
    padding: 10px;
    background-color: rgba(157, 5, 5, 0.2);
    color:rgb(229, 0, 0);
}

.geboekt{
    padding: 10px;
    background-color: rgb(0, 255, 0);
    color: black
}


.next{
    background-color:#bfb;
    border-color: #4c4;  
}

.alert-success{
    display: flex;
    background-color:#bfb;
    border-color: #4c4;  
    color: green;
    width: 100;
    height: 30px;
}

.is-button {
    margin: 10px;
    font-size: 12px;
    text-decoration: none;
}
.is-white{
    background-color: white;
}

.text-is-primary{
    color: rgb(50,20,151);
}

.text-is-dark{
    color: #14083d;
}


.is-bold{
    font-weight: bold;
}

.is-uppercase{
    text-transform: uppercase;
}

.is-hidden{
    display: none;
}

.fade-4{
    opacity: .4;
}



.is-date{
    font-size: 11px;
    color:lightskyblue;
}
